@model MessageBoard.Models.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Title.</h2>


<div class="message-header">
    <h1>Message Board</h1>
    <p class="lead">Latest Messages</p>
</div>   


